%clear {
  content: "";
  display: table;
  clear: both;
}

body {
  font: 1em/1.2 "Roboto Mono", sans-serif;
  background-color: whitesmoke;
}

p {
  font: 1em/1.2 "PT Sans", sans-serif;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h2 {
  margin: 0;
  padding: 0;
}

.l-layout {
  width: 1024px;
  margin: 0 auto;
}

//

.l-header {
  // height: 50px;
  background-color: #fff;
  margin: 40px 0 20px;

  &::after {
    @extend %clear;
  }
}

.header-logo {
  float: left;
  margin: 15px 0;

  img {
    vertical-align: middle;
  }

  span {
    padding-left: 5px;
    font-weight: bold;
    vertical-align: middle;
  }
}

//

.l-header,
.l-programming,
.l-design {
  box-sizing: border-box;
  // outline: 1px solid #ccc;

  &::after {
    @extend %clear;
  }
}

.l-programming {
  background-color: #4285f4;
  float: left;

  .title {
    color: #fff;
  }
}

.l-design {
  float: right;

  .title {
    color: gray;
  }
}

.l-programming,
.l-design {
  padding: 2em;
  width:50%;
}

//
.date {
  font-size: .7em;
  font-weight: bold;
}



.prog-list a,
.design-list a{
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    transition: width .3s ease;
  }

  &:hover::after {
    width: 100%;
  }
}

.prog-list {
  .date {
    color: #fff;
  }
  a {
    color: #fff;

    &::after {
      background-color: #fff;
    }
  }
}

.design-list {
  .date {
    color: gray;
  }
  a {
    &::after {
      background-color: #808080;
    }
  }
}

.prog-list,
.design-list {
  box-sizing: border-box;
  padding: 15px 0;

  &_item {

                border-bottom: 1px solid rgba(255,255,255,0);
    &-link {
      display: block;
      margin-bottom: 10px;
      // font-weight: bold;
      font-size: 1.2em;
      text-decoration: none;
          color: gray;

      transition: all .1s ease-out;

      &:hover {
        transition: all .1s ease-out;
      }
    }
  }
}


@import 'media-queries';
